<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320895729807-kp7tf6l45lv5n7si11d916lt64oce58c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320895729807-kp7tf6l45lv5n7si11d916lt64oce58c</string>
	<key>API_KEY</key>
	<string>AIzaSyBavf1oAWdePwtaBiFz2GdWABpgwh9qrh0</string>
	<key>GCM_SENDER_ID</key>
	<string>320895729807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vincent.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-92f28</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-92f28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320895729807:ios:f1479ec812e49880</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-92f28.firebaseio.com</string>
</dict>
</plist>